# How to convert excel codebook to parquet version used in pysmFISH

## Excel codebook structure
The

In [2]:
from pysmFISH.barcodes_analysis import simplify_barcodes_reference

In [3]:
code = simplify_barcodes_reference('codebookHG2_20210508.xlsx')

In [4]:
code.convert_barcode()

In [5]:
code.codebook_df

                                                  Code     Gene
0    b'\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...   NOTCH1
1    b'\x00\x01\x00\x00\x00\x00\x00\x00\x01\x00\x00...   CXCL12
2    b'\x00\x01\x00\x00\x00\x00\x00\x00\x00\x01\x00...    NR1H3
3    b'\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x01...  IL22RA1
4    b'\x00\x00\x01\x00\x00\x00\x01\x00\x00\x00\x00...    NANOG
..                                                 ...      ...
443  b'\x00\x00\x01\x01\x00\x00\x01\x01\x00\x01\x01...     ODC1
444  b'\x00\x00\x01\x00\x01\x01\x01\x00\x01\x01\x00...     CCR4
445  b'\x00\x00\x01\x00\x01\x00\x01\x01\x01\x00\x01...     TCF7
446  b'\x00\x00\x00\x01\x01\x01\x01\x00\x00\x01\x01...      CFB
447  b'\x00\x00\x00\x01\x01\x01\x00\x01\x01\x00\x01...      NaN

[448 rows x 2 columns]